@import url('https://cdn.jsdelivr.net/gh/line/line-seed-sans-th@main/assets/css/line-seed-th.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-line-seed: 'LineSeedTH', sans-serif;
}

/* บังคับใช้กับทุกส่วนของเว็บไซต์ */
* {
  font-family: var(--font-line-seed) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
}